# Aliases
# ls aliases
# alias ls='ls --color=auto'
alias ls='colorls'
# alias ll='ls -l'
alias ll='colorls -l'
# alias la='ls -A'
alias la='colorls -A'
# alias lag='ls -A | grep'
alias lag='colorls -A | grep'
# alias l='ls -CF'
alias l='colorls -C'

# Custom aliases
alias python='python3'
alias storage='ncdu'
alias system='htop'
alias clock='tty-clock -c'
alias reload='source ~/.zshrc'
alias palette='for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$"\n"}; done'
alias v='nvim'
alias hg='history | grep'
alias weather='curl wttr.in'
alias parrot='curl parrot.live'
alias view='fim -a'
alias galias='alias | grep'
alias path='echo $PATH | sed "s/:/\n&/g"'
alias cat='batcat'

# Scripts
alias tor='~/Downloads/tor-browser_en-US/Browser/start-tor-browser &'
alias update='updateAndReboot.sh'
alias qr='qrcode.sh'
alias dirsize='dirSize.sh'
alias internet='internet.sh'
alias domain='domainInfo.py'
